.anchor
.DS_Store
target/
!target/idl
target/idl/*
!target/idl/SynthesysToken.json
**/*.rs.bk
node_modules
test-ledger
.yarn
id.json
.env*
!.env.example
.env.enc
log/*
tmp/*
pnpm-lock.yaml
package-lock.json
yarn.lock
.claude
docs
ccip-lib
migrations
.claude
node_modules_cache